# 不使用 workspace 协议, 我们要确保 packages 下的子模块可以被独立安装
# 使用 workspace 协议会向这些模块的 package.json 中写入基于工作空间的信息导致 package 无法被独立安装.
save-workspace-protocol=false
# 我们禁用了 workspace 协议
# 作为替代要求 pnpm 优先使用 workspace 中存在的 package 如果没有则查询 registry
# 注意如果子模块被单独更新了, 而锁定文件还使用旧的版本, 这里依然会读取旧的本地版本
prefer-workspace-packages=true